<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
</head>
<body>
    <h1>학생 추가</h1>
    <hr>
    <form th:action="@{/student/add}" method="post">
        <label for="name">이름</label>
        <input id="name" name="name" type="text"><br/>
        <label for="major">전공</label>
        <input id="major" name="major" type="text"><br/>
        <label for="point">학점</label>
        <input id="point" name="point" type="number" step="0.1" value="0.0"><br/>
        <br/>
        <button type="submit">추가</button>
        <button type="button" th:onclick="|location.href='@{/student/list}'|">취소</button>
    </form>
</body>
</html>